<!DOCTYPE html>
<html>
  <head>
    <% content_for :title, "My Shops" %>
    <%= stylesheet_link_tag "style.css" %>
  </head>
<body>

<h1>Shops Manager</h1>

<h3>Find nearby shops</h3>

<%= form_tag shops_path, :method => 'get' do %>
  <%= label_tag("Id of the Shop") %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag("Search") %>

<% end %>

<% if @results %>

    <ul>
        <li><%= @results.chain %></li>
        <li><%= @results.name %></li>
        <li><%= @results.latitude %></li>
        <li><%= @results.longitude %></li>
    </ul>

<% else %>
  <tr><td>No search results</td></tr>
<% end %>




<h3> All the shops</h3>
<div id="scrollable_shops"> 
<table>
  <tr>
    <th>Chain</th>
    <th>Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Address</th>
    <th>City</th>
    <th>Zip</th>
    <th>Phone</th>
    <th>Country Code</th>
    <th colspan="3"></th>
  </tr>
 
  <% @shop.each do |shop| %>
    <tr>
      <td><%= shop.chain %></td>
      <td><%= shop.name %></td>
      <td><%= shop.latitude %></td>
      <td><%= shop.longitude %></td>
      <td><%= shop.address %></td>
      <td><%= shop.city %></td>
      <td><%= shop.zip %></td>
      <td><%= shop.country_code %></td>
      <td><%= link_to 'Show', shop_path(shop) %></td>
      <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
      <td><%= link_to 'Destroy', shop_path(shop),
              method: :delete %></td>
    </tr>
  <% end %>
</table>
</div>

<%= link_to 'Add a shop', new_shop_path %>
</body>