<!DOCTYPE html>
<html>
  <head>
    <% content_for :title, "My Shops" %>
    <%= stylesheet_link_tag "style.css" %>
  </head>
<body>

<%= image_tag 'logo_shopmium.png' %>

<h1>Shops Manager</h1>

<div id="left_search">
<h3>Find nearby shops</h3>

<%= form_tag shops_path, :method => 'get' do %>
  <p class="form">
  <%= label_tag("Latitude") %>
  </p>
  <p class="form">
  <%= text_field_tag :latitude, params[:latitude] %>
  </p>
  <p class="form">
  <%= label_tag("Longitude") %>
  </p>
  <p class="form">
  <%= text_field_tag :longitude, params[:longitude] %>
  </p>
  <p class="form">
  <%= label_tag("Radius") %>
  </p>
  <p class="form">
  <%= number_field_tag :rad, params[:rad] %>
  </p>
  <p class="form">
  <%= submit_tag("Search") %>
  </p>

<% end %>
</div>

<div id="rigth_search">
<h3>Find X shops close to you</h3>

<%= form_tag shops_path, :method => 'get' do %>
  <p class="form">
  <%= label_tag("Latitude") %>
  </p>
  <p class="form">
  <%= text_field_tag :latitude, params[:latitude] %>
  </p>
  <p class="form">
  <%= label_tag("Longitude") %>
  </p>
  <p class="form">
  <%= text_field_tag :longitude, params[:longitude] %>
  </p>
  <p class="form">
  <%= label_tag("Number of Shops") %>
  </p>
  <p class="form">
  <%= number_field_tag :nb_shops, params[:nb_shops] %>
  </p>
  <p class="form">
  <%= submit_tag("Search") %>
  </p>

<% end %>
</div>


<div id="shop_list">
<h2> Shops</h2>
<%= link_to '<button type="button">Add a shop</button>'.html_safe, new_shop_path %>
<div id="scrollable_shops"> 
<table id="shops">
  <tr>
    <!--<th>Chain</th>-->
    <th>Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Address</th>
    <th>City</th>
    <!-- <th>Zip</th> -->
    <th>Phone</th>
    <!-- <th>Country Code</th> -->
    <th colspan="3"></th>
  </tr>
 
  <% @shop.each do |shop| %>
    <tr>
      <!--<td><%= shop.chain %></td>--> 
      <td><%= shop.name %></td>
      <td><%= shop.latitude %></td>
      <td><%= shop.longitude %></td>
      <td><%= shop.address %></td>
      <td><%= shop.city %></td>
      <td><%= shop.phone %></td>
      <!--<td><%= shop.zip %></td>-->
      <!--<td><%= shop.country_code %></td>-->
      <td><%= link_to '<button type="button">Show</button>'.html_safe, shop_path(shop) %></td>
      <td><%= link_to '<button type="button">Edit</button>'.html_safe, edit_shop_path(shop) %></td>
      <td><%= link_to '<button type="button">Delete</button>'.html_safe, shop_path(shop),
              method: :delete %></td>
    </tr>
  <% end %>
</table>
</div>
</body>